# /node_modules/* and /bower_components/* in the project root are ignored by default
node_modules/**/*
bower_components/**/*
coverage/**/*
public/**/*

# Ignore built files
dist/**/*

.expo/**
.expo-shared/**
.vscode/**

